<br>
<h1 align="center">Listing All Articles</h1>

<br>

<% @articles.each do |a| %>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card card-inverse" style="background-color: #C8C2C1">
        <div class="card-block" style="margin: 20px">
          <div class="article-title">
            <%= link_to a.title, article_path(a) %>
          </div>
          <div class="article-body">
            <%= truncate(a.description, length: 150) %>
          </div>
          <div class="article-actions">
            <%= link_to 'Edit this Article', edit_article_path(a), method: "get", class:"btn btn-md btn-primary" %>
            <%= link_to 'Delete this Article', article_path(a), method: :delete, data: { confirm: "Are You Sure you want to DELETE the Article?"}, class:"btn btn-md btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
