<!DOCTYPE html>
<HTML>

  <HEAD>
  </HEAD>

  <BODY>
    
    <h1 style="text-align:center;">
      This is The About Page For the Blog Application
    </h1>
    <br>
    <br>
    <%= link_to 'Home', root_path %> |
    
    
    
  </BODY> 

</HTML>