<!DOCTYPE html>
<HTML>

  <HEAD>
  </HEAD>

  <BODY>
    
    <h1 style="text-align:center;">
      This is The Home Page For the Blog Application
    </h1>
    <br>
    <br>
    <%= link_to 'Home', home_path %> |
    <%= link_to 'Blog', articles_path %>
    
    
  </BODY> 

</HTML>