<!DOCTYPE html>
<HTML>

  <HEAD>

    <style>

      header, footer{
        padding: 1em;
        color: red;
        background-color: black;
        clear: left;
        text-align: center;
      }

      nav{
        float: left;
        max-width: 120px;
        margin: 0;
        padding: 1em;
      }

      nav ul{
        list-style-type: none;
        padding: 0;
        background-color: red;
      }

      nav li a{
        display: block;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        padding: 5;
        background-color: red;  
      }

      h1, h2, h3{
        background-color: white;
        text-decoration-color: orange;
      }
    </style>

  </HEAD>

  <BODY>

    <header>
      <h1  >ABOUT</h1>
    </header>

    <nav> 
      <ul>
       <li><h3><%= link_to 'Home', root_path %></h3></li>
       <li><h3><%= link_to 'About', about_path %></h3></li>
       <li><h3><%= link_to 'Blog', articles_path %></h3></li>
      </ul>
    </nav>

  <br>
  <br>
  <p>
    <h2 style="text-align:center;">
    Launched in 2017 as a community for creative entrepreneurs, bloggers, and small biz rockstars, this site is a quickly growing collective of go-getters from all around the world.
    </h2>
  </p>

  <footer>
    <h3 style="text-align: center;">Copyright &copy; GaurishShaw</h3>
  </footer>

  </BODY> 

</HTML>